<td class="sidebar" width="180px" valign="top">
  <h2>Official links:</h2>
  <a href="https://minecraft.net/">Minecraft.net</a><br>
  <a href="https://catboxed.github.io">Minecraft: Star Edition Website</a>
  <a href="https://discord.gg/hgWZJDKVXb">Minecraft: Star Edition Discord Server</a><br>
  <a href="https://www.youtube.com/channel/UCxeR-Aqwgvs7rj_siIchFfA">Minecraft: Star Edition&nbsp;on&nbsp;Youtube</a><br>
  <!-- <b>Try Mojang's other games!</b><br>
  <div style="height:5px; display:block;"></div>
  <a href="http://scrolls.com/"><img src="http://assets.mojang.com/scrolls/scrolls_logo_150.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="http://playcobalt.com/?utm_source=mcl"><img src="http://assets.mojang.com/cobalt/cobalt_logo_150.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="https://www.minecraft.net/about-dungeons"><img src="{{ site.baseurl }}/img/logo-dungeons.png"  border="0"></a>
  <div style="height:5px; display:block;"></div>
  <a href="https://www.minecraft.net/about-legends"><img src="{{ site.baseurl }}/img/logo_legends.png"  border="0"></a> -->
  <h2>Community links:</h2>
  <a href="http://minecraftforum.net/">Minecraft&nbsp;Forums</a><br>
  <a href="http://www.twitch.tv/directory/game/Minecraft">Minecraft on Twitch.tv</a><br>
  <a href="https://minecraft.wiki">Minecraft Wiki</a><br>
  <h2>OLauncher:</h2>
  <a href="https://github.com/olauncher"><img src="{{ site.baseurl }}/img/olauncher_logo_150.png"  border="0"></a>
</td>
