<td class="sidebar" width="180px" valign="top">
  <h2>Official links:</h2>
  <a href="https://minecraft.net/">Minecraft.net</a><br>
  <a href="https://star-edition.github.io/star_edition/index.html">Minecraft:&nbsp;Star&nbsp;Edition</a><br>
  <a href="https://www.youtube.com/channel/UCxeR-Aqwgvs7rj_siIchFfA">Minecraft:&nbsp;Star&nbsp;Edition&nbsp;on&nbsp;Youtube</a><br>
  <h2>Community links:</h2>
  <a href="https://discord.gg/hgWZJDKVXb">Minecraft:&nbsp;Star&nbsp;Edition&nbsp;Discord</a><br>
  <h2>OLauncher:</h2>
  <a href="https://github.com/olauncher"><img src="{{ site.baseurl }}/img/olauncher_logo_150.png"  border="0"></a>
</td>
